# перечисляем все что будет использоваться в проекте
beautifulsoup4==4.10.0      # Парсинг HTML и XML документов
selenium==3.141.0           # Автоматизация веб-браузера, особенно полезно для страниц с динамическим контентом
playwright==1.14.1          # Автоматизация веб-браузера, альтернатива Selenium
Scrapy==2.5.1               # Мощный инструмент для извлечения данных из веб-сайтов
pdfkit==0.6.1               # Конвертация HTML в PDF
fpdf==1.7.2                 # Генерация PDF документов
gensim==4.1.0               # Библиотека для тематического моделирования и обработки текста, полезна для создания "суммари"
bert-for-tf2==0.14.9        # Интерфейс для модели BERT в TensorFlow 2, может быть полезен для работы с текстом
# Flask==2.0.1             # Фреймворк для создания веб-приложений, в данном контексте не требуется
# Django==3.2.9            # Фреймворк для создания веб-приложений, в данном контексте не требуется

